<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/main.js"></script>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>EPLF Payments</th>
                <th>EPLF Logs</th>
                <th>ZD Payments</th>
                <th>ZD Logs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="eplf-payments"></td>
                <td id="eplf-logs"></td>
                <td id="zd-payments"></td>
                <td id="zd-logs"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
